extends skeleton
block navbar-content
	div.navbar-right
		ul.navbar-nav.nav
			li.text-right
				a(href="?purge=true")
					if data._fresh
						span Viewing fresh data.
					else
						span Data cached from #{data._age}.
					br
					i.fa.fa-refresh &nbsp;
					span Click here to refresh.

block content
	div.row
		div.col-md-8.col-sm-8
			h1
				span #{data.subject}
				a.small(href="//gerrit.wikimedia.org/r/#/c/"+data._number) &nbsp;c#{data._number}
		div.col-md-4.col-sm-4
			div.status
				if data.status == 'MERGED'
					div.panel.panel-success
						div.panel-heading
							i.fa.fa-star &nbsp;
							span Merged
				else if data.status == 'ABANDONED'
					div.panel.panel-danger
						div.panel-heading
							i.fa.fa-trash-o &nbsp;
							span Abandoned
				else if data.labels["Code-Review"].rejected
					div.panel.panel-danger
						div.panel-heading
							i.fa.fa-times &nbsp;
							span Rejected
				else if data.labels["Code-Review"].approved
					div.panel.panel-info
						div.panel-heading
							i.fa.fa-tick &nbsp;
							span Approved
				else if data.labels["Code-Review"].disliked
					- pending = true
					div.panel.panel-warning
						div.panel-heading
							i.fa.fa-warning &nbsp;
							span Disliked
				else if data.labels.Verified.rejected
					div.panel.panel-warning
						div.panel-heading
							i.fa.fa-cog &nbsp;
							span Fails
				else if data.labels["Code-Review"].recommended
					- pending = true
					div.panel.panel-primary
						div.panel-heading
							i.fa.fa-thumbs-up &nbsp;
							span Recommended
				else if data.status == 'DRAFT'
					div.panel.panel-default
						div.panel-heading
							i.fa.fa-file-text &nbsp;
							span Draft
				else
					- pending = true
					div.panel.panel-info
						div.panel-heading
							i.fa.fa-comments &nbsp;
							span Waiting
	div.row
		div.col-md-8
			table.table
				tr
					th Project:
					- proj = data.project.split( '/' )
					if proj[0] == 'mediawiki'
						if proj[1] == 'core'
							td
								a(href="//mediawiki.org") #{data.project}
						else if proj[1] == 'extensions'
							td
								a(href="//mediawiki.org/wiki/Extension:" + proj[2]) #{data.project}
						else
							td #{data.project}
					else
						td #{data.project}
				tr
					th Owner:
					td
						a(href="/u/"+data.owner.name)
							img(src=gravatar( data.owner.email ))
							span &nbsp; #{data.owner.name}
				tr
					if pending
						th Waiting since:
					else
						th Created:
					td #{moment( data.created ).fromNow()}
				tr
					th Last updated:
					td #{moment( data.updated ).fromNow()}
				tr
					th Comments:
					td #{data.messages.length}
				tr
					th Mergeable:
					td
						if data.mergeable
							i.fa.fa-check &nbsp;
							span Mergeable
						else
							i.fa.fa-times &nbsp;
							span Not Mergeable
				tr
					th Change-ID:
					td: code #{data.change_id}
		div.col-md-4
			div.row
				div.col-md-12.col-sm-6
					table.table
						if !data.labels['Code-Review']
							tr
								td(colspan="2").text-center.text-muted No Code-Review
						else
							th(colspan="2").text-center Code-Review
							- cr = data.labels['Code-Review'].values
							each rating in data.labels['Code-Review'].all
								tr
									td
										a(href="/u/"+rating.name)
											img(src=gravatar(rating.email))
											span &nbsp; #{rating.name}
									if rating.value == -2
										td.danger.text-danger
											i.fa.fa-times.fa-fw &nbsp;
											strong: abbr(title=cr[-2]) Rejected
									else if rating.value == 2
										td.success.text-success
											i.fa.fa-check.fa-fw &nbsp;
											strong: abbr(title=cr['+2']) Approved
									else if rating.value == -1
										td.warning.text-warning
											i.fa.fa-thumbs-down.fa-fw &nbsp;
											abbr(title=cr[-1]) Disliked
									else if rating.value == 1
										td.info.text-info
											i.fa.fa-thumbs-up.fa-fw &nbsp;
											abbr(title=cr['+1']) Recommended
									else if rating.value == 0
										td.muted.text-muted
											i.fa.fa-circle-o.fa-fw &nbsp;
											abbr(title=cr[' 0']) Pending
				div.col-md-12.col-sm-6
					table.table
						if !data.labels ['Verified']
							tr
								td(colspan="2").text-center.text-muted No Verification
						else
							th(colspan="2").text-center Verification
							- cr = data.labels['Verified'].values
							each rating in data.labels['Verified'].all
								tr
									if rating.value == -2
										td
											a(href="/u/"+rating.name)
												img(src=gravatar(rating.email))
												span &nbsp; #{rating.name}
										td.danger.text-danger
											i.fa.fa-times.fa-fw &nbsp;
											abbr(title=cr[-2]) Vetoed
									else if rating.value == 2
										td
											a(href="/u/"+rating.name)
												img(src=gravatar(rating.email))
												span &nbsp; #{rating.name}
										td.success.text-success
											i.fa.fa-check.fa-fw &nbsp;
											abbr(title=cr[2]) Verified
									else if rating.value == -1
										td
											a(href="/u/"+rating.name)
												img(src=gravatar(rating.email))
												span &nbsp; #{rating.name}
										td.warning.text-warning
											i.fa.fa-thumbs-down.fa-fw &nbsp;
											abbr(title=cr[-1]) Fails
									else if rating.value == 1
										td
											a(href="/u/"+rating.name)
												img(src=gravatar(rating.email))
												span &nbsp; #{rating.name}
										td.info.text-info
											i.fa.fa-thumbs-up.fa-fw &nbsp;
											abbr(title=cr[1]) Checked
	div.row
		div.col-md-8
			- max = 0
			each comment in data.messages
				- if ( comment._revision_number > max ) {
				-	max = comment._revision_number
				- }
			each comment in data.messages
				- if ( comment._revision_number == max ) {
				-	cls = 'info'
				- } else {
				-	cls = 'default'
				- }
				div.panel.panel(class="panel-"+cls)
					div.panel-heading
						img(src=gravatar(comment.author.email))
						span.pull-right
							abbr(title=comment.date)
								span= moment(comment.date).fromNow()
							span &nbsp;
							span.badge= comment._revision_number
						span &nbsp; #{comment.author.name}
					pre.comment= comment.message
		div.col-md-4
			div.row
				div.col-md-12.col-sm-6
					pre.
						git checkout #{data.branch}
						git pull --rebase
						git review --download #{data._number}
				div.col-md-12.col-sm-6
					pre.
						git commit --all --amend
						git review --no-rebase
